node_modules/
package-lock.json
yarn.lock
.pnpm-lock.yaml
.vscode

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log

dist/
build/
out/

*.tsbuildinfo
tsconfig.tsbuildinfo

.vscode/
.idea/
*.sublime-workspace

.DS_Store
Thumbs.db

tmp/
temp/
*.tmp

coverage/
jest/
nyc_output/

.dockerignore

.eslintcache
.prettierignore
.prettiercache
